.button{
    cursor: pointer;
    margin-right: 16%;
    margin-top: 13%;
    font-size: 15px;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 12px;
    width: 160px;
    background-color: orange;
    margin-bottom: 25%;
   }

   .button:hover{
    background-color: #fb6604;
    transform: scale(1.2);
  
   }
  